@import "variables";
@import "mixins";

// Global styles
body {
  background-color: transparent !important;
  background: transparent !important;
  color: $text-primary;
  font-family: $font-family-body;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.plugin-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $background-dark;
}

.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $spacing-md;
  box-sizing: border-box;
}

// 3-column layout
.plugin-layout {
  display: flex;
  width: 100%;
  height: 100%;
  flex: 1;
  align-items: center;
  box-sizing: border-box;
}

.main-column {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.left-column {
  padding-right: $spacing-sm;
  padding-left: $spacing-sm;
}

.right-column {
  padding-left: $spacing-sm;
  padding-right: $spacing-sm;
}

// Font setup
@font-face {
  font-family: "OldEnglishHearts";
  src: url("./fonts/old_english_hearts.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
